// nextflow.config — base configuration

params {
    outdir      = "s3://nextflow-scrna-abhishek/results"
    input       = "data/samplesheet.csv"

    // Scanpy QC thresholds
    min_genes   = 200
    max_genes   = 6000
    max_mito    = 20.0
    min_counts  = 500

    // Atlas ingestion
    atlas_uri   = "s3://nextflow-scrna-abhishek/atlas"
    tissue      = "blood"
    organism    = "Homo sapiens"
    assay       = "10x 3v3"
}

profiles {
    local {
        process.executor = 'local'
        docker.enabled   = true
    }

    aws {
        includeConfig 'conf/aws_batch.config'
        docker.enabled = true
    }
}

docker {
    enabled = true
}