// nextflow.config — base configuration

params {
    outdir = "s3://nextflow-scrna-abhishek/results"
    tmpdir = "s3://nextflow-scrna-abhishek/tmp"
    input  = "data/samplesheet.csv"
}

profiles {
    local {
        process.executor = 'local'
        docker.enabled   = true
    }

    aws {
        includeConfig 'conf/aws_batch.config'
        docker.enabled = true
    }
}

docker {
    enabled = true
}