process {
    executor  = 'awsbatch'
    queue     = 'nextflow-batch-queue'
    errorStrategy = { task.exitStatus in [null, 143, 137] ? 'retry' : 'finish' }
    maxRetries = 2
}

aws {
    region    = 'us-east-1'
    accessKey = System.getenv('AWS_ACCESS_KEY_ID')
    secretKey = System.getenv('AWS_SECRET_ACCESS_KEY')
}

wave {
    enabled = true
}

fusion {
    enabled = true
}

tower {
    enabled     = true
    accessToken = System.getenv('TOWER_ACCESS_TOKEN')
}

workDir = 's3://nextflow-scrna-abhishek/work'